@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/Inter/v32/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}

/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Inter", system-ui;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  animation-duration: 800ms ease;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

a:hover {
  color: #6415ff;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

img {
  width: 100%;
}

h1 {
  font-family: "Inter", system-ui;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-family: "Inter", system-ui;
  font-size: 38px;
  font-weight: bold;
  color: #243e63;
  padding-top: 16px;
}

h5 {
  font-family: "Inter", system-ui;
  font-weight: 700;
  color: #243e63;
  margin-top: 15px;
}

h6 {
  font-family: "Inter", system-ui;
}

p {
  color: #243e63;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.purple {
  color: #6415ff;
  padding-left: 8px;
}

.purple__1 {
  color: #6415ff;
  font-size: 31px;
}

.white {
  color: #ffffff;
}

@keyframes hover {
  from {
    color: #243e63;
  }
  to {
    color: #6415ff;
  }
}

/* LAYOUT */
.row {
  width: 100%;
  min-width: 576px;
  margin: 0 auto;
}

.body__row {
  width: 100%;
  min-width: 576px;
  margin: 0 auto;
  padding: 32px;
}

.nav__img {
  width: 40px;
  height: 40px;
}

/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  display: flex;
}

.nav__title {
  padding-left: 15px;
  padding-bottom: 12px;
  font-size: 24px;
  text-decoration: none;
}

.nav__title:hover {
  color: #6415ff;
  text-decoration: underline;
}

.nav__links {
  font-size: 14px;
  margin: 20px;
  font-weight: bold;
  color: #243e63;
  display: none;
}

.nav__links--link {
  color: white;
  font-weight: 1000px;
  background: #6415ff;
  border: none;
  border-radius: 40px;
  padding: 15px 27px;
}

.nav__links--link:hover {
  box-shadow: #243e63;
}

#burger {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 4px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#toogle {
  list-style: none;
  z-index: 1;
  background: purple;
  padding-top: 4rem;
  transition: transform 0.2s;
  transform: translateY (-100%);
}

i {
  width: 20px;
  height: 3px;
  background-color: #6415ff;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.steps__heading {
  color: #6415ff;
  font-size: 16px;
}

.img__container {
  border-radius: 50%;
  border-style: solid;
  border-color: #a0aec0;
  border-width: 1px;
  padding: 20px;
  text-align: center;
  flex-grow: 0;
}

@media (min-width: 576px) {
  /* LANDING */
  nav {
    max-width: 576px;
  }

  .landing__wrapper {
    padding: 96px 0;
  }

  .column__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column__one {
    width: 100%;
    /* min-width: 300px; */
  }

  .landing__title {
    font-size: 30px;
    width: 100%;
  }

  .landing__para {
    font-size: 16px;
    margin: 20px 0;
    color: #243e63;
    text-align: center;
    line-height: 24px;
    width: 480px;
  }

  .btn__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header__email--input::placeholder {
    color: #8d8d8d;
    font-size: 12px;
  }

  .header__email--input {
    position: relative;
    width: 80%;
    height: 60px;
    color: #243e63;
    padding: 10px 160px 10px 32px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 1000px;
    top: 0;
    bottom: 0;
    z-index: index 1;
    margin-bottom: 16px;
    /* transition: border-color 300ms; */
  }

  .btn {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background-color: #6415ff;
    width: 80%;
    height: 60px;
    padding: 15px 15px;
    z-index: 2;
    bottom: -60px;
    right: 55px;
  }

  .logo__strip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column__one--logo {
    font-size: 14px;
    color: #a0aec0;
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
  }

  .column__one--img {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
  }

  .column__two--img {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin-top: 32px;
    /* padding: 96px 0; */
  }

  /* FEATURES */
  #features {
    /* padding: 96px 32px; */
  }

  .features__heading {
    font-size: 16px;
    color: #6415ff;
    margin-bottom: 16px;
    letter-spacing: 1.6px;
  }

  .column__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__heading {
    font-size: 36px;
    padding: 0;
  }

  .purple {
    font-size: 36px;
    font-style: bold;
  }

  .feature__para {
    color: #7c8ba1;
    width: 100%;
    font-size: 14px;
    margin: 15px 0 0 0;
    text-align: center;
    line-height: 1.6;
  }

  .column__card--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .three__column--card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 32px 8px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .img__container {
    border-radius: 100%;
  }

  .feature__icon {
    height: 25px;
    width: 25px;
    text-align: center;
  }

  .title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold;
  }

  .text__container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    font-size: 16px;
    color: #7c8ba1;
    width: 70%;
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 32px;
  }

  /* QUALITY */
  #quality {
    padding: 96px 30px;
  }

  .quality__column--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right__column--img {
    width: 100%;
  }

  .right__img {
    padding-bottom: 30px;
  }

  .left__column--one {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .quality__header {
    letter-spacing: 1.6px;
    color: #6415ff;
    font-size: 16px;
    text-align: center;
    /* width:100%; */
  }

  .quality__heading {
    font-size: 30px;
    font-weight: bold;
    margin-top: 16px;
    color: #333;
    text-align: center;
  }

  .quality__purple {
    color: #6415ff;
    font-size: 30px;
  }

  .quality__para {
    font-size: 14px;
    color: #7c8ba1;
    width: 90%;
    margin-top: 16px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.6;
  }

  .quality__btn {
    color: white;
    background-color: #6415ff;
  }

  .btn__wrap {
    font-size: 14px;
    font-weight: bold;
    width: 50%;
    border: none;
    border-radius: 50px;
    background-color: #6415ff;
    padding: 12px 32px;
    margin-top: 32px;
  }

  /* STEPS */
  #steps {
    /* padding: 96px 32px; */
  }

  .steps__column--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__img--wrapper {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .column__img {
    width: 100%;
  }

  .steps__heading {
    color: rgb (100, 21, 255);
    font-size: 20px;
    text-align: center;
  }

  .steps__title {
    font-size: 36px;
    font-size: 30px;
    text-align: center;
  }

  .purple__step {
    color: rgb(100 21 255);
    padding-left: 4px;
  }

  .steps__wrapper {
    display: flex;
    flex-direction: column;
  }

  .steps__column {
    margin: 48px 0;
  }

  .numbered__steps {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step__num {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
  }

  .step__heading {
    letter-spacing: 1.6px;
    font-size: 20px;
  }

  .step__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }

  .step__description {
    text-align: center;
    font-size: 14px;
    color: rgb (113, 128, 150);
    font-weight: 500px;
    margin: 12px 0 0 0;
    width: 80%;
    line-height: 2;
  }

  /* VALUES */
  #values {
    padding: 96px 32px;
  }

  .value__column--wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .value__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .value__column--img {
    width: 100%;
  }

  .value__img {
    padding-bottom: 30px;
    max-width: 1200px;
  }

  .value__heading {
    color: #6415ff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }

  .value__sub--heading {
    font-size: 30px;
    margin-top: 16px;
    padding-top: 0;
    text-align: center;
    line-height: 1.25;
  }

  .value__purple {
    color: #6415ff;
    text-align: center;
  }

  .value__para {
    color: #7c8ba1;
    font-size: 14px;
    font-style: bold;
    margin: 32px 0 0 0;
    line-height: 1.625;
    text-align: center;
  }

  .feature__description--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .horizontal__feature {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal__feature2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feature__icon--container {
    display: flex;
    align-items: center;
  }

  .feather-dollar-sign {
    /* width: 24px; */
    /* height: 24px; */
    border-radius: 20px;
    color: rgb(39 103 73);
    background-color: rgb(154, 230, 180);
    padding: 6px;
  }

  .feather {
    height: 36px;
    width: 36px;
  }

  .feather-briefcase {
    /* width: 24px; */
    /* height: 24px; */
    padding: 6px;
    color: rgb(155 44 44);
    background-color: rgb(254, 178, 178);
    border-radius: 20px;
  }

  .feature__icon--text {
    font-size: 20px;
    font-weight: bolder;
    color: #243e63;
    margin-left: 12px;
  }

  .feature__description {
    font-size: 16px;
    width: 60%;
    font-style: bold;
    color: #718096;
    margin: 16px 0 0 0;
    line-height: 1.6;
  }

  .value__btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #6415ff;
    width: 30%;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin: 48px 0 0 0;
    padding: 12px 32px;
  }

  /* PRICING */
  #pricing {
    box-sizing: border-box;
  }

  .pricing__wrapper {
    padding: 96px 0;
  }

  .pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__header {
    text-align: center;
    color: #6415ff;
    font-size: 16px;
    letter-spacing: 1.6px;
    margin-bottom: 16px;
  }

  .purple {
    font-size: 36px;
  }

  .pricing__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding: 0;
  }

  .pricing__para {
    font-size: 14px;
    font-style: bold;
    margin: 16px 0 0 0;
    color: #7c8ba1;
    text-align: center;
    width: 100%;
  }

  .plan__highlight {
    position: absolute;
    right: 77px;
    top: 58px;
    width: 70%;
    height: 10px;
    z-index: 2;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-color: rgb(56, 178, 172);
    background: linear-gradient(
      115deg,
      rgb(56, 178, 172) 0%,
      rgb(129, 230, 217) 100%
    );
  }

  .plan__highlight2 {
    position: absolute;
    top: 1299px;
    width: 70%;
    height: 10px;
    z-index: 2;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-color: rgb(245, 101, 101);
    background: linear-gradient(
      115deg,
      rgb(245, 101, 101) 0%,
      rgb(254, 178, 178) 100%
    );
  }

  .container__pricing--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .individual__plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 0 0;
    padding: 8px 0 32px;
    width: 70%;
  }

  .plan__1 {
    /* position: relative; */
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(226, 232, 240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(226, 232, 240);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(226, 232, 240);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(226, 232, 240);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    /* border-top-color: rgb(56, 178, 172); */
  }

  .plan__2 {
    z-index: 1;
    border-bottom-color: rgb(226, 232, 240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(226, 232, 240);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(226, 232, 240);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(226, 232, 240);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    background-color: linear-gradient(
      115deg,
      rgb(100, 21, 255) 0%,
      rgb(145, 103, 255) 100%
    );
    background-image: linear-gradient(
      135deg,
      rgb(76, 81, 191) 0%,
      rgb(102, 126, 234) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .plan__3 {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(226, 232, 240);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(226, 232, 240);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(226, 232, 240);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(226, 232, 240);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .three__plans--header {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .name1 {
    font-size: 20px;
    color: rgb (26, 32, 44);
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .price1 {
    font-size: 36px;
    font-weight: bold;
    margin: 4px 0;
  }

  .price {
    font-size: 36px;
    font-weight: bold;
    margin: 4px 0;
  }

  .duration1 {
    font-size: 16px;
    letter-spacing: 1.6px;
    color: #7c8ba1;
  }

  .duration {
    font-size: 16px;
  }

  .plan__features {
    width: 100%;
    padding: 32px;
    margin: 0 -32px;
    border-top: 1px solid rgb(226, 232, 240);
    border-top-width: 1px;
    border-top-color: rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
    border-bottom-width: 1px;
    border-bottom-color: rgb(226, 232, 240);
    border-width: 1px;
    opacity: 1;
  }

  .plan__features2 {
    width: 100%;
    padding: 20px 40px 20px;
    margin: 0 -32px;
    border-top: 1px solid rgb(102, 126, 234);
    border-bottom: 1px solid rgb(102, 126, 234);
    border-top-color: rgb(102, 126, 234);
    border-bottom-color: rgb(102, 126, 234);
    border-width: 1px;
    opacity: 1;
  }

  .main__feature {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
  }

  .main__feature2 {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .feature1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  .plan__action {
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan__button {
    padding: 20px;
    border: none;
    border-radius: 30px;
    width: 200%;
  }

  .plan__button1 {
    /*belongs in general section?*/
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    width: 200%;
    background: linear-gradient(
      115deg,
      rgb(56, 178, 172) 0%,
      rgb(129, 230, 217) 100%
    );
  }

  .plan__action--btn {
    color: white;
    font-size: 14px;
  }

  .plan__button2 {
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    width: 200%;
    background: rgb(247, 250, 252);
  }

  .plan__button3 {
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    width: 200%;
    background: linear-gradient(
      115deg,
      rgb(245, 101, 101) 0%,
      rgb(254, 178, 178) 100%
    );
  }

  .plan__action--btn2 {
    color: rgb(100, 21, 255);
    font-size: 14px;
  }

  /* FOOTER LINKS */
  .five__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 46px 0; */
  }

  .five__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: calc(100% / 4);
    margin: 48px 0 0 0;
    padding: 0 0 16px;
  }

  .column__head {
    color: white;
    font-size: 16px;
  }

  .link__list {
    margin-top: 24px;
  }

  .column__link {
    margin-top: 12px;
    padding-bottom: 4px;
    color: white;
    font-size: 14px;
    transition-duration: 300ms;
  }

  .column__link:hover {
    color: #cbd5e0;
    text-decoration: underline;
    transition-property: all;
  }

  /* FOOTER INFO */

  .footer__background {
    background-color: #6415ff;
    margin: 0;
    min-width: 576px;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 213;
  }

  .footer__divider {
    width: 70%;
    margin: 40px 0;
    text-align: center;
    border-bottom-width: 2px;
    border-color: rgb(116, 44, 255);
    opacity: 1;
    position: absolute;
    top: 500px;
    right: 0;
    left: 10px;
    bottom: 192px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 50px 50px; */
  }

  .footer__img {
    width: 2rem;
    background-color: white;
    /* border-radius: 50px; */
  }

  .img__title--wrapper {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .footer__title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 0;
  }

  .footer__link {
    width: 25px;
    height: 25px;
    margin: 15px;
    border-style: solid;
    border-radius: 200px;
    background-color: white;
  }

  svg {
    color: rgb(26, 32, 44);
    width: 14px;
    height: 14px;
  }

  .footer__logos {
    display: flex;
    color: white;
    animation: none;
    position: relative;
    text-decoration-color: rgb(26, 32, 44);
    margin-top: 32px;
  }

  .footer__copyright {
    color: #cbd5e0;
    font-size: 14px;
    text-align: center;
    margin-top: 32px;
  }
}

/* MOBILE PHONES, DESKTOPS, LARGER DESKTOPS */
@media (min-width: 768px) {
  /* LANDING SECTION */

  nav {
    max-width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__img {
    margin: 0 12px 0 0;
  }

  .nav__title {
    padding: 0;
  }

  .landing__wrapper {
    padding-top: 96px;
  }

  nav__links.active {
    display: block;
  }

  .landing__title {
    font-size: 30px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }

  .purple__1 {
    font-size: 30px;
    padding-left: 7px;
  }

  .landing__para {
    font-size: 16px;
  }

  .column__one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__email--input::placeholder {
    font-size: 15px;
    opacity: 0.5;
  }

  .header__email--input {
    position: relative;
    width: 65%;
    height: 70px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .btn {
    width: 25%;
    height: 70%;
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 0;
    left: 400px;
  }

  .logo__strip--wrapper {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column__one--logo {
    padding-top: 0;
  }

  .column__one--img {
    width: 70%;
    opacity: 0.5;
  }

  /* FEATURES SECTION */

  .column__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column__card--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 768px;
  }

  .three__column--card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% / 3);
  }

  h2,
  .feature__heading {
    font-size: 48px;
  }

  p,
  .feature__para {
    font-size: 16px;
  }

  .purple {
    font-size: 48px;
  }

  .text__container {
    text-align: left;
  }

  .title {
    text-align: left;
  }

  .img__container {
    border-radius: 410%;
    width: 90px;
    height: 60px;
  }

  .feature__icon {
    height: 24px;
    width: 24px;
  }

  .description {
    font-size: 16px;
    text-align: left;
  }

  /* QUALITY SECTION */
  #quality {
    padding: 96px 0;
  }

  .quality__column--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .left__column--one {
    width: 50%;
  }

  .right__column--img {
    width: 50%;
  }

  .quality__header {
    color: #6415ff;
    font-size: 16px;
    text-align: left;
  }

  .quality__heading {
    font-size: 36px;
    text-align: left;
  }

  .quality__para {
    font-size: 16px;
    line-height: 1.6;
    width: 80%;
    text-align: left;
  }

  .btn__wrap {
    width: 40%;
    padding: 10px 0;
    margin-top: 32px;
  }

  /* STEPS SECTION */
  .steps__column--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .steps__img--wrapper {
    width: 80%;
    height: auto;
    margin-bottom: 0;
  }

  .steps__wrapper {
    padding: 0;
  }

  .steps__heading {
    text-align: left;
    font-size: 16px;
  }

  .step__heading {
    text-align: left;
  }

  .steps__title {
    text-align: left;
    font-size: 36px;
  }

  .steps__column {
    margin-top: 0;
    text-align: left;
  }

  .numbered__steps {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 32px;
  }

  .step__num {
    font-size: 36px;
  }

  .step__text {
    /* text-align: left; */

    margin: 12px 0 0 0;
  }

  .step__description {
    line-height: 2;
    text-align: left;
  }

  /* VALUES */
  #values {
    padding: 96px 0;
  }

  .value__column--wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .value__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 0;
  }

  .value__heading {
    text-align: left;
  }

  .value__sub--heading {
    font-size: 46px;
    text-align: left;
    line-height: 1.25;
  }

  .value__para {
    font-size: 16px;
    line-height: 1.6;
    margin: 32px 0 0 0;
    text-align: left;
  }

  .feature__description--wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .horizontal__feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .horizontal__feature2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature__description {
    padding: 0;
  }

  .feature__icon--text {
    font-size: 20px;
  }

  .value__column--img {
    width: 50%;
    margin-bottom: 25px;
  }

  .value__btn {
    /* margin: 32px auto; */
    font-size: 14px;
    width: 40%;
  }

  /* PRICING */
  #pricing {
    padding: 80px 0;
  }

  .pricing__heading {
    font-size: 48px;
  }

  .pricing__para {
    font-size: 16px;
  }

  .individual__plan {
    width: 60%;
    height: auto;
    margin: 64px 0 0 0;
    padding: 20px;
  }

  .container__pricing--wrapper {
    position: relative;
  }

  .hr {
    max-width: 100%;
  }

  .plan__highlight {
    position: absolute;
    left: 142px;
    width: 60%;
  }

  .plan__highlight2 {
    left: 140px;
    right: 100px;
    width: 60%;
  }

  .main__feature2 {
    font-size: 20px;
    text-align: center;
    color: white;
    text-wrap: nowrap;
  }

  .feature {
    margin-top: 20px;
  }

  /* FOOTER */

  .footer__container {
    margin:0 auto;
  }

  .footer__background {
    background-color: #6415ff;
    text-align:center;
    /* margin: 0 auto; */
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 213;
    right: 0;
  }

  .five__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .five__column {
    width: calc(100% / 5);
  }

  .footer__img {
    border-radius: 0px;
    max-width: 100%;
    border-style: solid;
    border-width: 0px;
  }

  .footer__copyright {
    margin: 20px;
  }

  .footer__logos {
    margin: 0 15px;
  }

  .footer__divider {
    width: 80%;
    margin:65px 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .footer__info {
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
  }
}

@media (min-width: 992px) {
  /* FEATURES SECTION */
  .three__column--container {
    display: flex;
    flex-direction: column;
  }

  .feature__para {
    line-height: 1.6;
    margin: 16px 0;
    text-align: center;
    max-width: 36rem;
  }

  .column__card--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .description {
    /* width: 80%; */
    height: auto;
    line-height: 2;
  }

  /* QUALITY SECTION */
  .quality__column__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quality__header {
    color: #6415ff;
    font-size: 16px;
  }

  .quality__heading {
    /* width: 70%; */
    font-size: 36px;
  }

  .quality__para {
    line-height: 1.6;
    width: 80%;
    margin: 16px 0 0 0;
  }

  .btn__wrap {
    margin-top: 32px;
    padding: 12px 32px;
  }

  .right__img {
    padding: 0;
  }

  /* VALUES SECTION */
  #values {
    padding: 96px 0;
  }

  .value__sub--heading {
    width: 80%;
  }

  .value__para {
    width: 90%;
    margin: 32px 0 0 0;
    line-height: 1.6;
  }

  .horizontal__feature {
    margin-top: 40px;
    margin-right: 32px;
  }

  .feature__icon--text {
    font-size: 20px;
  }

  .feature__description {
    width: 70%;
    line-height: 1.6;
  }

  .value__img {
    margin-top: 150px;
  }

  /* PRICING SECTION */
  .pricing__para {
    line-height: 1.6;
    width: 65%;
  }
  .plan__highlight {
    position: absolute;
    left: 225px;
    top: 32px;
    border-style: solid;
    border-radius: 10px;
    width: 40%;
    background: linear-gradient(
      115deg,
      rgb(56, 178, 172) 0%,
      rgb(129, 230, 217) 100%
    );
  }
}

@media (min-width: 1200px) {
  /* landing section */
  .nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  #burger {
    display: none;
  }

  .nav__links {
    display: block;
    margin: 0 24px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toogle {
    background-color: white;
  }

  .column__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .landing__title {
    font-size: 48px;
    flex-wrap: wrap;
    white-space: normal;
  }

  .purple__1 {
    font-size: 48px;
    padding: 0;
  }

  .column__one {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .landing__para {
    font-size: 18px;
  }
}
